:root{
    --primary-color: blue;
    --main-gradient: #000;
}

html, body{
    height: 100%;
    background-image: linear-gradient(var(--main-gradient) 45%, var(--main-gradient) 45%), url(../img/medicine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.center{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
